


<div id="dhead" class="container">
    <div class="row">
        <div id="dpic">
          <img src="{{ site.author.image }}" class="ppic" />
        </div>
        <div id="ddesc">
            <h1>{{ site.author.name }}</h1>
            <h2>{{ site.author.bio }}</h2>
            <div id="dico">
                <a href="mailto: {{ site.author.email }}"><img src="{{ site.author.em_icon }}" class="iico" /></a>
                <a href="{{ site.author.linkedin }}"><img src="{{ site.author.li_icon }}" class="iico" /></a>                
                <a href="{{ site.author.twitter }}"><img src="{{ site.author.tw_icon }}" class="iico" /></a>                                                                                
                <a href="{{ site.author.instagram }}"><img src="{{ site.author.ig_icon }}" class="iico" /></a>
                <a href="{{ site.author.spotify }}"><img src="{{ site.author.sp_icon }}" class="iico" /></a>
            </div>          
        </div>
    </div>
</div>

<div id="bio" class="container" style="display:none;">
    Pronounced Uhh-mean Uhh-lee. Only mean on Sundays.
</div>

<hr>




